.dcx-formselect {
  --dcx-border-radius-formcontrol: 0px;
  --dcx-spacing-y-formcontrol: 30px;
  --dcx-font-formcontrol_hint-size: 16px;
  --dcx-font-formcontrol_hint-line-height: 20px;
  --dcx-font-formcontrol_error-size: 16px;
  --dcx-font-formcontrol_error-line-height: 20px;
}

.dcx-form-input {
  --dcx-border-radius-formcontrol: 0px;
  --dcx-spacing-y-formcontrol: 30px;
  --dcx-font-formcontrol_hint-size: 16px;
  --dcx-font-formcontrol_hint-line-height: 20px;
  --dcx-font-formcontrol_error-size: 16px;
  --dcx-font-formcontrol_error-line-height: 20px;
}

.dcx-button {
  --dcx-border-radius-action: 0px;
  --dcx-spacing-y-action: 15px;
  --dcx-spacing-x-action: 10px;
  --dcx-font-action_label-size: 18px;
  --dcx-font-action_label-line-height: 20px;
}

.dcx-label {
  --dcx-color-text-formcontrol_label-error: #da190b;
}

.dcx-list {
  --dcx-color-text-body: #000;
  --dcx-color-marker: #000;
}

.dcx-abbreviate {
  --dcx-spacing-y-abbreviate: 5px;
  --dcx-spacing-x-abbreviate: 5px;
}

.dcx-checkbox {
  --dcx-border-radius-formcontrol: 0px;
  --dcx-font-formcontrol_hint-size: 16px;
  --dcx-font-formcontrol_hint-line-height: 20px;
  --dcx-font-formcontrol_error-size: 16px;
  --dcx-font-size-formcontrol_label: 18px;
  --dcx-font-formcontrol_label-line-height: 22px;
}

.dcx-radio-button-group {
  --dcx-border-radius-formcontrol: 0px;
  --dcx-font-formcontrol_hint-size: 20px;
  --dcx-font-formcontrol_hint-line-height: 20px;
  --dcx-font-formcontrol_error-size: 18px;
  --dcx-font-formcontrol_error-line-height: 20px;
  --dcx-font-size-formcontrol_label: 20px;
  --dcx-font-formcontrol_label-line-height: 24px;
}

.dcx-checkbox-group {
  --dcx-border-radius-formcontrol: 0px;
  --dcx-font-formcontrol_hint-size: 20px;
  --dcx-font-formcontrol_hint-line-height: 20px;
  --dcx-font-formcontrol_error-size: 18px;
  --dcx-font-formcontrol_error-line-height: 20px;
  --dcx-font-size-formcontrol_label: 20px;
  --dcx-font-formcontrol_label-line-height: 24px;
}

.dcx-range {
  --dcx-focus-outline: 5px solid #04AA6D; 
}

.dcx-card {
  --dcx-spacing-x-card_box: 25px;
  --dcx-spacing-y-card_box: 25px;
  --dcx-border-radius-card_box: 0;
  --dcx-border-width-card_box: 2px;
  --dcx-border-style-card_box: solid;
  --dcx-border-color-card_box-selected: black;
  --dcx-border-color-card_box-hover: black;
  --dcx-color-background-card_box-selected: transparent;
  --dcx-color-background-card_box-hover: #f5f5f5;
}
