.flex-column {
  display: flex;
  flex-direction: column;
}

.form-button-container {
  display: flex;

  .form-btn-label {
    min-height: 20px;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }
}

.register-form {
  display: grid;
  gap: 1.8em;
  justify-content: center;

  form {
    min-width: 18em;
    max-width: 50em;
  }

  .help-block {
    max-width: 18em;
  }

  .btn-loading {
    display: flex;

    .loading-icon {
      margin-right: 0.5em;
    }
  }

  .password-eye-btn {
    border-color: transparent;
  }
}
