.custom-vertical-container {
  border: 1px solid purple;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  height: 400px;
}

.custom-container {
  border: 1px solid purple;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-vertical-divider {
  border-color: teal;
  border-width: 5px;
}

.custom-horizontal-divider {
  border-color: darkgreen;
  border-width: 5px;
}

.first-pane {
  padding: 1em;
  background-color: khaki;
  color: brown;
}

.second-pane {
  padding: 1em;
  background-color: lightblue;
  color: darkblue;
}
