input,
select {
  max-width: 18em;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 15em;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #53ACDB; 
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
}

.sidenav li{
  text-decoration: none;
}


body {
  margin-left: 15em;
  padding: 1em;
}

.page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.no-bullets {
  list-style-type: none;
}

.caret {
  border-top: 4px solid blue;
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid blue;
}

.pointer {
  cursor: pointer;
}
