.copyToClipboard--container {
  width: 360px;
  position: relative;
}
.copyToClipboard--textArea {
  width: 350px;
  height: 200px;
}
.copyToClipboard {
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
  display: flex;
  cursor: pointer;
}

.copyToClipboard--link {
  background: #16202e;
  color: #58a6ff;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 3px;
}

.copyToClipboard--text {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
