.govuk-description-list {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin: 0;
  margin-bottom: 20px;
}

@media print {
  .govuk-description-list {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-description-list {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .govuk-description-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .govuk-description-list {
    color: #000;
  }
}

@media (min-width: 40.0625em) {
  .govuk-description-list {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
}

@media (min-width: 40.0625em) {
  .govuk-description-list {
    margin-bottom: 30px;
  }
}

.govuk-description-list__key,
.govuk-description-list__value,
.govuk-description-list__actions {
  margin: 0;
}

.govuk-description-list__actions {
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-description-list__actions {
    width: 20%;
    padding-right: 0;
    text-align: right;
  }
}

.govuk-description-list__key,
.govuk-description-list__value {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.govuk-description-list__key {
  margin-bottom: 5px;
  font-weight: 700;
}

@media (min-width: 40.0625em) {
  .govuk-description-list__key {
    width: 30%;
  }
}

@media (max-width: 40.0525em) {
  .govuk-description-list__value {
    margin-bottom: 15px;
  }
}

.govuk-description-list__value > p {
  margin-bottom: 10px;
}

.govuk-description-list__value > :last-child {
  margin-bottom: 0;
}

.govuk-description-list__actions-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.govuk-description-list__actions-list-item {
  display: inline-block;
}

@media (max-width: 40.0525em) {
  .govuk-description-list__actions-list-item {
    margin-right: 10px;
    padding-right: 10px;
  }

  .govuk-description-list__actions-list-item:not(:last-child) {
    border-right: 1px solid #b1b4b6;
  }

  .govuk-description-list__actions-list-item:last-child {
    margin-right: 0;
    padding-right: 0;
    border: 0;
  }
}

@media (min-width: 40.0625em) {
  .govuk-description-list__actions-list-item {
    margin-left: 10px;
    padding-left: 10px;
  }

  .govuk-description-list__actions-list-item:not(:first-child) {
    border-left: 1px solid #b1b4b6;
  }

  .govuk-description-list__actions-list-item:first-child {
    margin-left: 0;
    padding-left: 0;
    border: 0;
  }
}

.govuk-description-list--no-border .govuk-description-list__row {
  border: 0;
}

@media (min-width: 40.0625em) {
  .govuk-description-list--no-border .govuk-description-list__key,
  .govuk-description-list--no-border .govuk-description-list__value,
  .govuk-description-list--no-border .govuk-description-list__actions {
    padding-bottom: 11px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-description-list__key,
  .govuk-description-list__value,
  .govuk-description-list__actions {
    padding-bottom: 11px;
  }
}
.govuk-description-card__content .govuk-description-list {
  margin-bottom: 0;
}

.govuk-description-card__content:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
