.dcx-abbreviate {
  background: token('color-background-highlight_body');
  border-radius: token('border-radius-abbreviate');
  color: token('color-text-body');
  font-family: token('font-family-body');
  font-size: token('font-size-body');
  font-weight: token('font-weight-body');
  margin: 0;
  padding: token('spacing-y-abbreviate') token('spacing-x-abbreviate');
  text-decoration: none;
  cursor: help;
}
