.dcx-accordion {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: token('color-background-accordion_box');
  box-shadow: token('box-shadow-accordion_box');
  border-radius: token('border-radius-accordion');

  .dcx-accordion-item {
    border-width: token('border-width-accordion_item_box');
    border-style: token('border-style-accordion_item_box');
    border-color: token('border-color-accordion_item_box');
    box-shadow: token('box-shadow-accordion_item_box');

    &:first-child {
      border-top-left-radius: token('border-radius-accordion');
      border-top-right-radius: token('border-radius-accordion');
      & .dcx-accordion-title {
        border-top-left-radius: token('border-radius-accordion');
        border-top-right-radius: token('border-radius-accordion');
      }
    }
    &:last-child {
      border-bottom-left-radius: token('border-radius-accordion');
      border-bottom-right-radius: token('border-radius-accordion');
      & .dcx-accordion-title {
        border-bottom-left-radius: token('border-radius-accordion');
        border-bottom-right-radius: token('border-radius-accordion');
      }
    }
    &.dcx-accordion-item--expanded {
      & .dcx-accordion-title {
        background: token('color-background-accordion_title_box-expanded');
        &:hover {
          background: token('color-background-accordion_title_box-hover');
        }
      }
      & .dcx-accordion-details {
        padding: token('spacing-x-accordion_details_box')
          token('spacing-y-accordion_details_box');
      }
    }
  }

  .dcx-accordion-details {
    padding: 0px token('spacing-y-accordion_details_box');
    transition:
      grid-template-rows token('transition-duration-accordion')
        token('transition-timing-function-accordion'),
      padding token('transition-duration-accordion')
        token('transition-timing-function-accordion');
  }

  .dcx-accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: token('spacing-x-accordion_title_box')
      token('spacing-y-accordion_title_box');
    cursor: pointer;
    &:hover {
      background: token('color-background-accordion_title_box-hover');
    }
  }
}
