.dcx-blockquote {
  margin: 0;
  background-color: token('color-background-blockquote_box');
  border-radius: token('border-radius-blockquote_box');
  color: token('color-text-body');
  font-family: token('font-family-body');
  font-weight: token('font-weight-body');
  font-size: token('font-size-body');
  padding: token('spacing-y-blockquote_box') token('spacing-x-blockquote_box');
}
