.dcx-card {
  /*
 * Default
 */

  background: token('color-background-card_box');
  padding: token('spacing-x-card_box') token('spacing-y-card_box');

  .dcx-card-header {
    line-height: token('line-height-header-card_box');
  }

  .dcx-card-content {
    line-height: token('line-height-content-card_box');
  }

  .dcx-card-actions {
    display: flex;
  }

  .dcx-card-image {
    max-width: 100%;
    max-height: 100%;
  }

  /*
 * horizontal
 */

  &.dcx-card-horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .dcx-card-header {
      grid-column: 1;
      grid-row: 1;
    }
    .dcx-card-image {
      grid-column: 1;
      grid-row: 2;
    }
    .dcx-card-content {
      grid-column: 2;
      grid-row: 2;
    }
    .dcx-card-actions {
      grid-column: 2;
      grid-row: 3;
    }
    .dcx-card-footer {
      grid-column: 1/2;
      grid-row: 4;
    }
  }
}
