.dcx-card {
  /*
 * Default
 */

  padding: token('spacing-x-formcontrol') token('spacing-y-formcontrol');

  .dcx-card-header {
    font-size: token('font-size-pre_body');
    font-weight: token('font-weight-paragraph');
    line-height: token('font-formcontrol-line-height');
    padding-top: token('spacing-y-action');
    padding-bottom: token('spacing-y-action');
  }

  .dcx-card-content {
    font-size: token('font-size-paragraph');
    font-weight: token('font-weight-body');
    line-height: token('font-formcontrol_label-line-height-floating');
    padding-top: token('spacing-y-formcontrol');
    padding-bottom: token('spacing-y-formcontrol');
  }

  .dcx-card-actions {
    button {
      padding: token('spacing-x-action') token('spacing-y-action');
    }
  }

  .dcx-card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: 'cover';
  }

  .dcx-card-footer {
    padding-top: token('spacing-y-action');
    padding-bottom: token('spacing-y-action');
  }

  /*
 * horizontal
 */

  &.dcx-card-horizontal {
    display: flex;
  }
}
