.dcx-code-pre_body {
  color: token('color-text-pre_body');
  font-size: token('font-size-pre_body');
  font-family: token('font-family-pre_body');
  font-weight: token('font-weight-pre_body');
}

.dcx-code-pre_box {
  background: token('color-background-pre_box');
  padding: token('spacing-pre_box')
}

