.dcx-heading {
  color: token('color-text-heading-level_1');
}

.dcx-heading.dcx-heading-h2 {
  color: token('color-text-heading-level_2');
}

.dcx-heading.dcx-heading-h3 {
  color: token('color-text-heading-level_3');
}

.dcx-heading.dcx-heading-h4 {
  color: token('color-text-heading-level_4');
}

.dcx-heading.dcx-heading-h5 {
  color: token('color-text-heading-level_5');
}

.dcx-heading.dcx-heading-h6 {
  color: token('color-text-heading-level_6');
}
