.dcx-label {
  color: token('color-text-formcontrol_label');
  font-weight: token('font-weight-formcontrol_label');
  font-size: token('font-size-formcontrol_label');

  &.dcx-error-message {
    color: token('color-text-formcontrol_label-error');
  }
}
