.dcx-link {
  color: token('color-text-link');
  font-size: token('font-size-link');
  font-family: token('font-family-link');

  &:visited {
    color: token('color-text-link-visited');
  }

  &:active {
    color: token('color-text-link-active');
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    font-size: 18px;
  }
}
