.dcx-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: token('track-height');
  border-radius: token('border-radius');
  background-color: token('color-secondary');
  position: relative; 
}

.dcx-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: token('thumb-width');
  height: token('thumb-height');
  background: token('thumb-color');
  border-radius: 50%;
  cursor: pointer;
  position: relative; 
  z-index: 2; 
}

.dcx-range::-webkit-slider-thumb:hover {
  background: token('thumb-hover-color'); 
}

.dcx-range::-webkit-slider-thumb:focus {
  background: token('thumb-focus-color'); 
  transform: scale(1.2); 
  outline: 2px solid token('color-primary');
}

.dcx-range::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--left, 0%);
  background: token('color-primary');
  border-radius: token('border-radius');
  z-index: 1; 
}
