.dcx-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: token('height-formcontrol_track');
  border-radius: token('border-radius-formcontrol');
  background-color: token('color-background-formcontrol_track');
  position: relative;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: token('width-formcontrol_thumb');
    height: token('height-formcontrol_thumb');
    background: token('color-outline-formcontrol');
    border-radius: token('border-radius-formcontrol_thumb');
    cursor: pointer;
    position: relative;

    &:hover {
      background: token('color-background-formcontrol_thumb-hover');
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--left, 0%);
    background: token('color-outline-formcontrol');
    border-radius: token('border-radius-formcontrol');
  }

  &:disabled {
    cursor: default;

    &::before {
      background: token('color-background-formcontrol-disabled');
    }

    &::-webkit-slider-thumb {
      background: token('color-background-formcontrol-disabled');
      cursor: default;
    }
  }
}
