.login-container {
  display: grid;
  gap: 1.8em;
  justify-content: center;

  form {
    min-width: 18em;
  }

  .help-block {
    max-width: 18em;
  }

  .btn-loading {
    display: flex;

    .loading-icon {
      margin-right: 0.5em;
    }
  }
}
