.paginator {
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  border: 1px solid gray;
  width: fit-content;
  margin: auto;
}
.previous-button,
.next-button {
  font-weight: 600;
  padding: 0.6em 1em;
  align-content: center;
  color: #1d70b8;
}
.paginator div:nth-child(2) {
  border-left: 1px solid gray;
}
.buttons,
.current-page {
  width: 45px;
  height: 45px;
  text-align: center;
  align-content: center;
  color: #1d70b8;
  border-right: 1px solid gray;
}

.current-page {
  font-weight: bold;
  color: white;
  background: #1d70b8;
}
