.demo-cards-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 30px;

  h1:not(:first-child) {
    margin-top: 100px;
  }
}

.horizontal-card-demo {
  width: 550px;
  max-height: 300px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.horizontal {
    display: flex;
    justify-content: space-between;
  }

  .text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .horizontal-card_header {
      .horizontal-card_heading {
        font-weight: 600;
      }
    }

    .horizontal-card_content {
      .horizontal-card_content-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li:not(:first-child) {
          padding-top: 10px;
        }
      }
    }
  }

  .horizontal-card_image {
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;
  }

  .horizontal-card_actions {
    align-self: flex-end;

    button {
      border: none;
      background: none;
    }
  }
}

.vertical-card-demo {
  width: 300px;
  max-height: 550px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .vertical-card_header {
      .vertical-card_heading {
        font-weight: 600;
      }
    }

    .vertical-card_content {
      .vertical-card_content-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li:not(:first-child) {
          padding-top: 10px;
        }
      }
    }
  }

  .vertical-card_image {
    max-width: 100%;
    max-height: 100%;
  }

  .vertical-card_actions {
    align-self: flex-end;

    button {
      border: none;
      background: none;
    }
  }
}
