.card-demo {
  width: 550px;
  max-height: 300px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px 0 0 20px;

  &.horizontal {
    display: flex;
    justify-content: space-between;
  }

  .text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .card-demo-header {
      h4 {
        font-weight: 600;
      }
    }

    .card-demo-content {
      li > ul {
        margin: 0;
        padding: 0;
      }

      li > ul:not(:first-child) {
        padding-top: 10px;
      }
    }
  }

  .card-demo-image {
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;
  }

  .card-demo-content {
    list-style: none;
  }

  .card-demo-actions {
    align-self: flex-end;

    button {
      border: none;
      background: none;
    }
  }
}
