.dcx-horizontal-stepper {
    padding: 10px;
}

.dcx-stepper-header-content {
    display: flex;
    margin: 10px 10px 10px 0px;
}

.dcx-stepper-header-button {
    display: flex;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

.dcx-stepper-header-container {
    display: flex;
}

.dcx-stepper-header-button  {
    color: #a7a8ab;
}

.dcx-stepper-header-button > .stepNumber {
    background-color: #a7a8ab;
}

.dcx-active-step  {
    color: black;
}
.dcx-active-step > .stepNumber {
    background-color: #1876d2;
}





.stepNumber {
    width: 20px;
	height: 20px;
	color: white;
	border-radius: 10px;
    margin-right: 5px;
}
