.dcxOptionWithIcon {
  gap: 6px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  transition: 0.15s all ease-in-out;

  &:hover{
    background-color: var(--dcx-option-hover-background-color);
    cursor: pointer;
  }

  &::before {
    content: '';
    display: block;
    width: var(--dcx-option-icon-width);
    height: var(--dcx-option-icon-height);
    background-image: var(--dcx-option-icon-url);
    background-size: var(--dcx-option-icon-width);
    border-radius: var(--dcx-option-icon-border-radius);
  }
}