.container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
}
.liveEditor {
  background-color: #282c34;
  width: 100%;
  border-right: 2px solid white;
  color: white;
}

.livePreview {
  margin-left: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.liveError {
  color: red;
  padding: 0 25px;
}

/** Tab Group **/

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-list-disabled {
  pointer-events: none; 
  opacity:0.6;
}

/**tooltips style*/
.tooltipClass {
  width: 250px;
  background: rgb(223, 10, 10);
  color: white;
  word-break: break-all;
}