@keyframes wave {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

.wave-animation {
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  animation: wave 4s infinite linear;
}

.circular {
  border-radius: 50%;
}

.rounded {
  border-radius: 1rem;
}
